/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
/* Your Code Goes Here */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
  background: #ffffff;
  color: #222222;
}
body {
  font-family: Roboto, Arial, sans-serif;
  color: inherit;
  font-size: 1.6rem;
  line-height: 1.5;
}
h1 {
  font-weight: bold;
  font-size: 6.4rem;
  color: #ffffff;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
h4 {
  font-size: 2rem;
  font-weight: bold;
}
.mobile {
  display: none;
}
@media (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9aa5b0;
  padding: 10px 75px;
  flex-wrap: nowrap;
}
header h1 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
}
header .expanded {
  z-index: 1000;
}
header .expanded,
header .non-expanded {
  cursor: pointer;
}
header .menu-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: grey;
  z-index: 10;
}
header .menu-modal .nav-links {
  display: flex;
  flex-direction: column;
}
header .menu-modal a {
  position: relative;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin: 25px;
  text-decoration: none;
}
header .menu-modal a:hover {
  color: black;
}
header .modal-hidden {
  display: none;
}
@media (max-width: 500px) {
  .Home-Page {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
}
.Home-Page .landing-overlay {
  position: relative;
}
.Home-Page .landing-overlay img {
  width: 100%;
  margin: 0 auto;
}
.Home-Page .landing-overlay .landing-text {
  position: absolute;
  color: white;
  font-size: 6.4rem;
  line-height: 7.5rem;
  left: 50px;
  bottom: 40px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .Home-Page .landing-overlay .landing-text {
    font-size: 3.5rem;
    left: 4%;
    bottom: 20px;
  }
}
.Home-Page .Top-Content section {
  padding: 0 8%;
  display: flex;
  margin: 40px 0;
}
.Home-Page .Top-Content section .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 5% 0;
}
.Home-Page .Top-Content section .content1 {
  margin-right: 8%;
}
.Home-Page .Top-Content section .content2 {
  margin-left: 8%;
}
.Home-Page .Top-Content section h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.Home-Page .Top-Content section p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  padding: 5% 0;
}
.Home-Page .Top-Content section button {
  background: white;
  border: 1px solid black;
  padding: 10px 20px;
  font-weight: 500;
}
@media (max-width: 500px) {
  .Home-Page .Top-Content {
    margin: 7% 1% 0;
  }
  .Home-Page .Top-Content section {
    flex-direction: column;
    margin: 5% 2%;
  }
  .Home-Page .Top-Content section .content1,
  .Home-Page .Top-Content section .content2 {
    margin-top: 4%;
  }
  .Home-Page .Top-Content section .img-1 {
    order: -1;
  }
  .Home-Page .Top-Content section .img-1,
  .Home-Page .Top-Content section .img-2 {
    margin: 0;
  }
  .Home-Page .Top-Content section img {
    width: 100%;
  }
  .Home-Page .Top-Content section button {
    width: 100%;
  }
}
.Home-Page .Main-Content {
  padding: 0 8%;
}
.Home-Page .Main-Content section .content3,
.Home-Page .Main-Content section .content4,
.Home-Page .Main-Content section .content5 {
  position: relative;
  margin-top: 3%;
}
.Home-Page .Main-Content section .content3 img,
.Home-Page .Main-Content section .content4 img,
.Home-Page .Main-Content section .content5 img {
  width: 100%;
}
.Home-Page .Main-Content section .content3 h2,
.Home-Page .Main-Content section .content4 h2,
.Home-Page .Main-Content section .content5 h2 {
  font-size: 2.5rem;
  font-weight: normal;
  position: absolute;
  bottom: -4rem;
  margin: 0;
  background: #d8d8d8;
  padding: 3rem 4.8rem;
  letter-spacing: 0.75rem;
}
.Home-Page .Main-Content section .content3 h2.right,
.Home-Page .Main-Content section .content4 h2.right,
.Home-Page .Main-Content section .content5 h2.right {
  right: 0px;
}
.Home-Page .Main-Content section .content3 h2.left,
.Home-Page .Main-Content section .content4 h2.left,
.Home-Page .Main-Content section .content5 h2.left {
  left: 0px;
}
@media (max-width: 500px) {
  .Home-Page .Main-Content section .content3 h2.right,
  .Home-Page .Main-Content section .content4 h2.right,
  .Home-Page .Main-Content section .content5 h2.right,
  .Home-Page .Main-Content section .content3 h2.left,
  .Home-Page .Main-Content section .content4 h2.left,
  .Home-Page .Main-Content section .content5 h2.left {
    right: 4%;
    left: 4%;
    width: 95%;
    bottom: -90px;
    padding: 7% 4%;
    text-align: center;
  }
}
.Home-Page .Main-Content section p {
  padding-top: 6%;
  margin: 4% auto;
  width: 55%;
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  .Home-Page .Main-Content section .text {
    margin: 88px 0 45px;
  }
  .Home-Page .Main-Content section p {
    width: 100%;
    line-height: 2.4rem;
    font-size: 2rem;
  }
}
.Home-Page .Main-Content h4 {
  margin: 20px 0;
}
@media (max-width: 500px) {
  .Home-Page .Main-Content {
    margin: 0 1%;
  }
  .Home-Page .Main-Content h2 {
    margin: 40px 0 0 3%;
  }
  .Home-Page .Main-Content section {
    margin: 20px 0;
  }
  .Home-Page .Main-Content section .content3,
  .Home-Page .Main-Content section .content4,
  .Home-Page .Main-Content section .content5 {
    margin-bottom: 100px;
  }
}
.Services-Page {
  margin: 0 auto;
  max-width: 1000px;
}
.Services-Page .landing-overlay {
  position: relative;
}
.Services-Page .landing-overlay img {
  width: 100%;
  margin: 0 auto;
}
.Services-Page .landing-overlay .landing-text {
  position: absolute;
  color: white;
  font-size: 6.4rem;
  line-height: 7.5rem;
  left: 50px;
  bottom: 40px;
  font-weight: bold;
}
.Services-Page .page-wrapper {
  margin: 0 8.7%;
}
.Services-Page .page-wrapper .intro-section {
  font-size: 1.6rem;
  margin-top: 55px;
  margin-bottom: 45px;
  line-height: 2.5rem;
}
.Services-Page .page-wrapper .tabs {
  display: flex;
  justify-content: space-between;
}
.Services-Page .page-wrapper .tabs .tab {
  padding: 12px;
  width: 182px;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.Services-Page .page-wrapper .tabs .active-tab {
  background: #5e9fb9;
  color: white;
}
.Services-Page .page-wrapper .content-container {
  margin-bottom: 80px;
}
.Services-Page .page-wrapper .content {
  display: flex;
}
.Services-Page .page-wrapper .content > * {
  width: 50%;
}
.Services-Page .page-wrapper .content h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
.Services-Page .page-wrapper .content p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.Services-Page .page-wrapper .content img {
  margin-top: 60px;
  margin-left: 20px;
  object-fit: contain;
}
.Services-Page .page-wrapper .content .text-content {
  margin-right: 30px;
}
.Services-Page .page-wrapper .content .text-content > * {
  margin: 20px 0;
}
footer {
  background: #828282;
  padding: 4% 4% 0;
  color: white;
  font-size: 1.2rem;
}
footer .Footer-Content {
  display: flex;
  justify-content: space-around;
  align-items: unset;
  margin-bottom: 2%;
}
footer .Footer-Content h3 {
  font-weight: bold;
}
footer .Footer-Content h3 {
  font-weight: bold;
}
footer .Footer-Content .Contact-Invite h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
footer .Footer-Content .Contact-Invite input {
  margin: 1% 1%;
  padding: 1.1rem 0.8rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px transparent;
}
footer .Footer-Content .Contact-Invite p {
  font-size: 1.2rem;
}
footer .Footer-Content .New-York,
footer .Footer-Content .Florida,
footer .Footer-Content .California {
  padding: auto 4%;
}
footer .Footer-Content .New-York p,
footer .Footer-Content .Florida p,
footer .Footer-Content .California p {
  padding: 3% 20% 3% 1%;
}
@media (max-width: 500px) {
  footer .Footer-Content .New-York .New-York,
  footer .Footer-Content .Florida .New-York,
  footer .Footer-Content .California .New-York,
  footer .Footer-Content .New-York .Florida,
  footer .Footer-Content .Florida .Florida,
  footer .Footer-Content .California .Florida,
  footer .Footer-Content .New-York .California,
  footer .Footer-Content .Florida .California,
  footer .Footer-Content .California .California {
    padding-top: 10px;
  }
  footer .Footer-Content .New-York p,
  footer .Footer-Content .Florida p,
  footer .Footer-Content .California p {
    padding: unset;
    margin-top: 8px;
  }
}
footer .Footer-Content .locations {
  flex-direction: column;
  align-items: flex-start;
}
footer .Footer-Content .locations .New-York,
footer .Footer-Content .locations .California,
footer .Footer-Content .locations .Florida {
  margin: 20px 0;
}
@media (max-width: 500px) {
  footer .Footer-Content {
    display: block;
  }
}
.Copyright {
  display: flex;
  justify-content: center;
  align-items: inherit;
  padding-bottom: 1%;
}
@media (max-width: 500px) {
  .Copyright {
    display: block;
  }
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
