.Home-Page {
  .mobile {
    display: none;
  }

  @media @phone {
    .desktop {
      display: none;
    }

    .mobile {
      display: initial;
    }
  }
  @media @phone {
    max-width: 500px;
    .size(100%, auto);
  }

  .landing-overlay {
    position: relative;
    img {
      width: 100%;
      margin: 0 auto;
    }
    .landing-text {
      position: absolute;
      color: white;
      font-size: 6.4rem;
      line-height: 7.5rem;
      left: 50px;
      bottom: 40px;
      font-weight: bold;
    }

    @media @phone {
      .landing-text {
        font-size: 3.5rem;
        left: 4%;
        bottom: 20px;
      }
    }
  }

  .Top-Content {
    section {
      padding: 0 8%;
      display: flex;
      margin: 40px 0;
      .content {
        .flexbox(space-between, flex-start);
        flex-direction: column;
        margin: 5% 0;
      }
      .content1 {
        margin-right: 8%;
      }
      .content2 {
        margin-left: 8%;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: bold;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 500;
        padding: 5% 0;
      }
      button {
        background: white;
        border: 1px solid black;
        padding: 10px 20px;
        font-weight: 500;
      }
    }
  }

  @media @phone {
    .Top-Content {
      margin: 7% 1% 0;
      section {
        flex-direction: column;
        margin: 5% 2%;
        .content1,
        .content2 {
          margin-top: 4%;
        }
        .img-1,
        .img-2 {
          margin: 0;
        }
        img {
          width: 100%;
        }
        button {
          width: 100%;
        }
      }
    }
  }

  .Main-Content {
    padding: 0 8%;
    section {
      .content3,
      .content4,
      .content5 {
        position: relative;
        margin-top: 3%;
        img {
          width: 100%;
        }
        h2 {
          font-size: 2.5rem;
          font-weight: normal;
          position: absolute;
          bottom: -4rem;
          margin: 0;
          background: @r-p-c;
          padding: 3rem 4.8rem;
          letter-spacing: 0.75rem;
        }

        h2.right {
          right: 0px;
        }
        h2.left {
          left: 0px;
        }
      }

      @media @phone {
        .content3,
        .content4,
        .content5 {
          h2.right,
          h2.left {
            right: 4%;
            left: 4%;
            width: 95%;
            bottom: -90px;
            padding: 7% 4%;
            text-align: center;
          }
        }
      }
      p {
        padding-top: 6%;
        margin: 4% auto;
        width: 55%;
        line-height: 2.5rem;
      }

      @media @phone {
        .text {
          margin: 88px 0 45px;
        }
        p {
          width: 100%;
          line-height: 2.4rem;
          font-size: 2rem;
        }
      }
    }
    h4 {
      margin: 20px 0;
    }
  }
  @media @phone {
    .Main-Content {
      margin: 0 1%;
      h2 {
        margin: 40px 0 0 3%;
      }
      section {
        margin: 20px 0;
        .content3,
        .content4,
        .content5 {
          margin-bottom: 100px;
        }
      }
    }
  }
}
