header {
  .flexbox(space-between, center);
  background: @header-bg-color;
  padding: 10px 75px;

  h1 {
    font-weight: bold;
    font-size: 2.4rem;
    color: @background-color;
  }

  nav {
    display: none;
  }
}
